<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chef Tech</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/test.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <a href="index">
        <img src="/image/logo.png" class="logo">
      </a>
      <button class="menu-toggler">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-menu">
        <a href="index">home</a>
        <a href="aboutus">about</a>
        <a href="#">contact</a>
        <a href="recipes">recipe</a>
        <a href="login">login</a>
      </div>
    </div>
  </nav>
  <div class="contact">
  <div class="title">Contact Us</div>
  </div>
  <script>
    $(document).ready(function(){
      $('.menu-toggler').click(function(){
        $(this).toggleClass("active");
        $(".navbar-menu").toggleClass("active");
      })
    });
  </script>
</body>
</html>
