<!DOCTYPE html>
<html><head><link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  <link href="/stylesheets/main.css" rel="stylesheet" />
  <title>Document</title></head>
  <body>
    <div class="v1_4">
      <span class="v2_3">ChefTech</span><div class="v2_4"></div>
      <p><a href="login" class="v2_13">Log in</a></p>
        <p><a href="recipes" class="v2_88">Recipes</a></p>
        <p><a href="aboutus" class="v2_11">About Us</a></p>
        <p><a href="index" class="v2_10">Home</a></p>
                <div class="v5_7"></div><div class="v23_10">
                  <span class="v23_9">“A Receipt have no soul You, as the cook, must bring soul to the e receipt”
                    </span><span class="v23_16">Thomas  Keller</span>
                    </div><div class="v23_17"></div><div class="v24_0"></div>
                    <span class="v24_2">ChefTech For Future</span>
                    <span class="v24_1">Group 1, Towson University 800 York road, Towson, MD.</span>
      </div>
  </body>
</html>
