* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v1_4 {
  width: 100%;
  height: 1700px;
  background: rgba(13,13,13,1);
  opacity: 1;
  position: relative;
  overflow: hidden;
}
.v1_44 {
  width: 100%;
  height: 4500px;
  background: rgba(13,13,13,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_3 {RecipesPage
  width: 509px;
  color: rgba(255,249,249,1);
  position: absolute;
  top: 152px;
  left: 600px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v2_33 {RecipesPage
  width: 509px;
  color: rgba(255,249,249,1);
  position: absolute;
  top: 152px;
  left: 659px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 56px;
  opacity: 1;
  text-align: left;
}
.v2_4 {
  width: 80%;
  height: 376px;
  background-image: url(../image/pic1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 150px;
  overflow: hidden;
}
.v2_8 {
  width: 140px;
  color: rgba(251,241,241,1);
  position: absolute;
  top: 285px;
  left: 215px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_13 {
  width: 116px;
  color: rgba(255,249,249,1);
  position: absolute;
  top: 285px;
  left: 521px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_888 {
  width: 116px;
  color: rgba(255,249,249,1);
  position: absolute;
  top: 50px;
  left: 211px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_133 {
  width: 116px;
  color: rgba(255,249,249,1);
  position: absolute;
  top: 50px;
  left: 521px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v23_166 {
  width: 465px;
  height: 394px;
  background-image: url(../image/pic2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 830px;
  left: 891px;
  overflow: hidden;
}
.v2_11 {
  width: 161px;
  color: rgba(255,249,249,1);
  position: absolute;
  top: 285px;
  left: 348px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_111 {
  width: 161px;
  color: rgba(255,249,249,1);
  position: absolute;
  top: 50px;
  left: 348px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_10 {
  width: 130px;
  color: rgba(251,243,243,1);
  position: absolute;
  top: 285px;
  left: 82px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_100 {
  width: 130px;
  color: rgba(251,243,243,1);
  position: absolute;
  top: 50px;
  left: 82px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_7 {
  width: 100px;
  height: 100px;
  background: url("../images/v5_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 435px;
  left: 284px;
  overflow: hidden;
}
.v23_10 {
  width: 680px;
  height: 266px;
  background: url("../images/v23_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 851px;
  left: 228px;
  overflow: hidden;
}
.v23_9 {
  width: 331px;
  color: rgba(255,250,250,1);
  position: absolute;
  top: 62px;
  left: 10px;
  font-family: Roboto;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v23_16 {
  width: 319px;
  color: rgba(255,250,250,1);
  position: absolute;
  top: 206px;
  left: 351px;
  font-family: Roboto;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
v23_166 {
  width: 250px;
  height: 200px;
  background: url(../image/b1.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 850px;
  left: 100px;
  overflow: hidden;
}
.v23_17 {
  width: 250px;
  height: 200px;
  background: url(../image/b1.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 350px;
  left: 100px;
  overflow: hidden;
}
.v23_18 {
  width: 250px;
  height: 200px;
  background: url(../image/b2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 600px;
  left: 100px;
  overflow: hidden;
}
.v23_19 {
  width: 250px;
  height: 200px;
  background: url(../image/b3.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 850px;
  left: 100px;
  overflow: hidden;
}
.v23_20 {
  width: 250px;
  height: 200px;
  background: url(../image/b4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1100px;
  left: 100px;
  overflow: hidden;
}
.v23_21 {
  width: 250px;
  height: 200px;
  background: url(../image/b5.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1350px;
  left: 100px;
  overflow: hidden;
}
.v23_22 {
  width: 250px;
  height: 200px;
  background: url(../image/l1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 350px;
  left: 100px;
  overflow: hidden;
}.v23_23 {
  width: 250px;
  height: 200px;
  background: url(../image/l2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 700px;
  left: 100px;
  overflow: hidden;
}.v23_24 {
  width: 250px;
  height: 200px;
  background: url(../image/l3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1050px;
  left: 100px;
  overflow: hidden;
}
.v23_25 {
  width: 250px;
  height: 200px;
  background: url(../image/d1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 350px;
  left: 100px;
  overflow: hidden;
}
.v23_26 {
  width: 250px;
  height: 200px;
  background: url(../image/d2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 600px;
  left: 100px;
  overflow: hidden;
}
.v23_27 {
  width: 250px;
  height: 200px;
  background: url(../image/d3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 850px;
  left: 100px;
  overflow: hidden;
}
.v23_28 {
  width: 250px;
  height: 200px;
  background: url(../image/d4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1100px;
  left: 100px;
  overflow: hidden;
}
.v23_29 {
  width: 250px;
  height: 200px;
  background: url(../image/d5.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1350px;
  left: 100px;
  overflow: hidden;
}
.v23_30 {
  width: 250px;
  height: 200px;
  background: url(../image/d6.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1600px;
  left: 100px;
  overflow: hidden;
}
.v23_31 {
  width: 250px;
  height: 200px;
  background: url(../image/d7.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1850px;
  left: 100px;
  overflow: hidden;
}
.v23_32 {
  width: 250px;
  height: 200px;
  background: url(../image/d8.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2100px;
  left: 100px;
  overflow: hidden;
}
.v23_33 {
  width: 250px;
  height: 200px;
  background: url(../image/d9.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2350px;
  left: 100px;
  overflow: hidden;
}
.v23_34 {
  width: 250px;
  height: 200px;
  background: url(../image/d10.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2600px;
  left: 100px;
  overflow: hidden;
}
.v23_35 {
  width: 250px;
  height: 200px;
  background: url(../image/d11.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2850px;
  left: 100px;
  overflow: hidden;
}
.v23_36 {
  width: 250px;
  height: 200px;
  background: url(../image/d12.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3100px;
  left: 100px;
  overflow: hidden;
}
.v23_37 {
  width: 250px;
  height: 200px;
  background: url(../image/d13.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3350px;
  left: 100px;
  overflow: hidden;
}
.v23_38 {
  width: 250px;
  height: 200px;
  background: url(../image/d14.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3600px;
  left: 100px;
  overflow: hidden;
}
.v23_39 {
  width: 250px;
  height: 200px;
  background: url(../image/d15.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3850px;
  left: 100px;
  overflow: hidden;
}
.v23_40 {
  width: 250px;
  height: 200px;
  background: url(../image/d16.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4100px;
  left: 100px;
  overflow: hidden;
}
.v24_0 {
  width: 100%;
  height: 125px;
  background: rgba(241,231,140,1);
  opacity: 1;
  position: absolute;
  top: 1587px;
  left: 0px;
  overflow: hidden;
}
.v24_01 {
  width: 100%;
  height: 125px;
  background: rgba(241,231,140,1);
  opacity: 1;
  position: absolute;
  top: 4500px;
  left: 0px;
  overflow: hidden;
}
.v24_2 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1620px;
  left: 1250px;
  font-family: Roboto;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v24_22 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4520px;
  left: 1250px;
  font-family: Roboto;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v24_1 {
  width: 310px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1620px;
  left: 46px;
  font-family: Roboto;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v24_11 {
  width: 310px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4520px;
  left: 46px;
  font-family: Roboto;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

