<!DOCTYPE html>
<html><head><link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
  <title>Document</title></head>
  <body>
    <div class="html-container">
      <div class="html-section">
        <div class="html-project">
          <div class="navigation">
              <ul class="nav-type">
                <p><a href="index" class="active">Home</a></p>
                <p><a href="recipes" class="active2">Recipes</a></p>
                <p><a href="aboutus" class="active1">About</a></p>
                <p><a href="login" class="active3">Login</a></p>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <center><span class="v24_3">Recipes</span><center>
      <p><a href="breakfast" class="v24_13">Breakfast</a></p>
      <p><a href="lunch" class="v24_14">Lunch</a></p>
      <p><a href="dinner" class="v24_15">Dinner</a></p>

    </div>
</body>
</html>
